 body {
     background-color: #F0F0F0;
}
 #footer {
     text-align: center;
}
 #nav {
     overflow: hidden;
     background-color: white;
     margin: 15px 10px 30px 10px;
}
 #nav a {
     float: left;
     color: black;
     text-align: center;
     padding: 14px 50px;
     text-decoration: none;
     font-size: 17px;
}
 #nav a:hover {
     background-color: #ddd;
     color: black;
}
 li {
     list-style: none;
}
 #span {
     font-weight:bold;
     font-size: 60px;
     font-family: sans-serif;
     margin: 5px 0 0 50px;
}
 img.logo {
     float: right;
     margin: 0 50px;
}
 .top {
     background-color: #a6ab9c;
     padding: 10px 0 10px 20px;
     max-width: 80%;
     margin: auto;
}
 .top3 {
     background-color: #db9363;
     padding: 10px 0 10px 20px;
     max-width: 70%;
     margin: auto;
}
 .top1 {
     background-color: #b89eff;
     padding: 10px 0 10px 20px;
     max-width: 80%;
     margin: auto;
     margin-left: 220px;
}
 .container {
     margin: 20px auto 30px;
     background-color: #F0F0F0;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 50px;
     max-width: 80%;
}
 .container3 {
     margin: 20px auto 30px;
     background-color: #F0F0F0;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 50px;
     max-width: 70%;
}
 details {
     margin-bottom: 30px;
}
 details summary {
     font-weight: bold;
     font-size: 18px;
     cursor: pointer;
     text-align: center;
     margin-bottom: 30px;
     list-style: none;
}
 details div {
     background-color: white;
     text-align: center;
}
 .container img {
     width: 100%;
     height: 300px;
}
 .container3 img {
     width: 100%;
     height: 150px;
}
 .con1 {
     background-color: white;
}
 .titles {
     margin-left: 10px;
     margin-right: 10px ;
}
 .expand {
     font-size: 18px;
     margin-left: 10px;
     margin-right: 10px 
}
 .box{
     width: 150px;
     height: 1100px;
     float: left;
     background: lightgray;
     margin-top: 0px;
     font-size: 15px;
     text-align: center;
     font-weight: bold;
     border-radius: 3px;
}
 .form {
  margin-left: 350px;
  margin-top: 100px;
 }

 #user {
  border-radius: 3px;
  background-color: lightyellow;
 }

 #email {
  border-radius: 3px;
  background-color: lightyellow;
 }

 #text {
  background-color: lightyellow;
  border-radius: 3px;
  width: 300px;
  height: 200px;
 }
 .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}